.well
  %h2 To #{@destination.name}

  %p
    Status:
    = @destination.status_label
  - if @card.ready? || @card.sent?
    %p
      Access URL:
      = link_to nil, card_url(id: @card.access_token)

  = form_tag destination_card_path(@destination), method: :put, class: 'status_buttons' do
    - Card.status.values.each do |status|
      = button_tag status.humanize, name: 'card[status]', value: status, disabled: status == @card.status, class: ['btn', status]

- if @card.ready? || @card.sent?
  %p= image_tag 'xmas71.jpg'

%dl.comments
  - @card.comments.each do |comment|
    = render partial: 'comments/comment_editable', locals: { comment: comment }

= form_tag destination_card_comments_path(@destination) do
  Add:
  - @card.unwritten_members.each do |member|
    = button_tag member.name, name: 'comment[member_id]', value: member.id, class: 'btn btn-small'

%dl.replies
  - @card.replies.each do |reply|
    = render partial: 'replies/reply', locals: { reply: reply }

%br
= link_to 'Back', destinations_path

%p
  Image credits:
  = link_to nil, 'http://www.imagehearts.com/ip/'
