-#%p= image_tag 'xmas71.jpg'

%dl.comments
  - @card.comments.each do |comment|
    = render partial: 'comments/comment', locals: { comment: comment }

= form_tag destination_card_comments_path(@destination) do
  Add:
  - @card.unwritten_members.each do |member|
    = button_tag member.name, name: 'comment[member_id]', value: member.id, class: 'btn btn-small'

%br
-#= link_to 'Edit', edit_destination_card_path(@card)
\|
= link_to 'Back', destinations_path

%p
  &copy;
  = link_to nil, 'http://www.imagehearts.com/ip/'
