.page-header
  %h1 Listing destinations

%table.table.table-striped
  %tr
    %th Card
    %th Name
    %th Email
    %th Message
    %th
    %th

  - @destinations.each do |destination|
    %tr
      %td
        = link_to destination.status_label, destination_card_path(destination)
      %td= destination.name
      %td= destination.email
      %td
        - if destination.card
          - destination.card.written_members.each do |member|
            %span.label.label-inverse= member.name
      %td= link_to 'Edit', edit_destination_path(destination)
      %td
        = form_for destination, method: :delete, html: { class: 'only_button', id: nil } do |f|
          = f.button 'Delete', confirm: 'Are you sure to delete?', class: 'delete'

%br

= link_to 'New Destination', new_destination_path
