%h1 Listing members

%table.table.table-striped
  %tr
    %th Name
    %th Image url
    %th
    %th

  - @members.each do |member|
    %tr
      %th= member.name
      %td= member.image_url
      %td= link_to 'Edit', edit_member_path(member)
      %td
        = form_for member, method: :delete, html: { class: 'only_button', id: nil } do |f|
          = f.button 'Delete', confirm: 'Are you sure to delete?', class: 'delete'

%br

= link_to 'New Member', new_member_path
